<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <div class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="page-header header-filter" style="background-image: url('img/bienvenido.gif');">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 text-left">
                                <h1 class="title">Bienvendio A Mi Sitio Web</h1>
                                <br />
                                <div class="buttons">
                                    <a data-scroll href="#about" class="btn btn-primary btn-lg">
                                        Leer Mas
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="item">
                <div class="page-header header-filter" style="background-image: url('img/Desarrollo (2).gif');">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-center">
                                <h1 class="title">Desarrollo De Calidad</h1>
                                <h6>Contactame Por</h6>
                                <div class="buttons">
                                    <a href="https://www.linkedin.com/in/roman-calderin/" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                        <i class="fa fa-linkedin-square"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="item">
                <div class="page-header header-filter" style="background-image: url('img/canva.gif');">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 col-md-offset-5 text-right">
                                <h1 class="title">Se La Sensacion</h1>
                                <h4>Diseña el logo de tu empresa.
                                    Crea El Mejor POST de Tus Redes Sociales.
                                    Dieño de tus presentaciones todo esto y mucho mas 
                                </h4>
                                <br />

                                <div class="buttons">
                                    <a href="#pablo" class="btn btn-primary btn-lg">
                                        <i class="material-icons">email</i> Contactame
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <i class="material-icons">keyboard_arrow_left</i>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <i class="material-icons">keyboard_arrow_right</i>
        </a>
    </div>
</div>

</div>

<!--     *********    END HEADER 3      *********      -->