<br>
<section id="about">
    
    <div class="projects-4" id="projects-4">

		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<h2 id="titulo1" class="title">Sobre Mi</h2>
					<h5 class="description">Soy Un <strong>Analista de Sistemas </strong> , amante de las programacion
					y el diseño web </h5>
					<div class="section-space"></div>
				</div>
			</div>

			<div class="row">

				<div id="card"class="col-md-5 col-md-offset-1">
					<div class="card card-background" style="background-image: url('img/yo.png')">
					
						<div  class="card-content">
							<label class="label label-rose">Click</label>
							<a href="img/Roman Calderin.pdf" download="Roman-Calderin">
								<h3 class="card-title">Hoja De Vida</h3>
							</a>
						</div>
					</div>
				</div>

				<div id="yo" class="col-md-5">
					<div class="info info-horizontal">
						<div class="icon icon-info">
							<i class="material-icons">school</i>
						</div>
						<div class="description">
							<h4 class="info-title">Estudios</h4>
							<p class="description">
								Me certifique en la institucion 
								<strong>Servicio Nacional De Aprendizaje - SENA</strong> 
								Regional Atlantico, en el Programa De 
								<strong>Analisis Y Desarrollo De Sistemas De Informacion</strong>  
							    
							</p>
						</div>
		        	</div>

					<div class="info info-horizontal">
						<div class="icon icon-primary">
							<i class="material-icons">trending_up</i>
						</div>
						<div class="description">
							<h4 class="info-title">Aptitudes</h4>
							<p class="description">
								Desarrollo de software básico , Análisis de modelos de negocio , 
								Resolución de problemas, Diseño Investigación y formaciónde usuarios .
							</p>
						</div>
					</div>
				</div>

			</div>

			<hr>

			<div id="adsi" class="row">

				<div class="col-md-5 col-md-offset-1">
					<div class="info info-horizontal">
						<div class="icon icon-rose">
							<i class="material-icons">timeline</i>
						</div>
						<div class="description">
							<h4 class="info-title">Marketing</h4>
							<p class="description">
								Soy el lider de una 
								comunidad de desarrolladores y nos encargamos a la divulgacion 
								de la tecnologia, tambien creamos software y estamos constantemente 
								capacitandonos en nuevas tecnologias
							</p>
						</div>
		        	</div>

					<div class="info info-horizontal">
						<div class="icon icon-success">
							<i class="material-icons">code</i>
						</div>
						<div class="description">
							<h4 class="info-title">Actividades</h4>
							<p class="description">
								Adsi Analitys ha realizado varias 
								expociones en ferias de tecnologia y ahora se 
								centra en enseñar sobre tecnologia a los mas jovenes.
							</p>
						</div>
					</div>

					<div class="info info-horizontal">
						
					</div>
				</div>

				<div class="col-md-5">
					<div class="card card-background" style="background-image: url('img/pp.jpg')">
						<a href="#pablo">
						</a>
						<div class="card-content">
							<label class="label label-rose">Cuminidad</label>
							<a href="#pablo">
								<h2 class="card-title">Adsi Analitys</h2>
							</a>

						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
</section>

