<div id="conocimientos" class="features-5" style="background-image: url('img/cono.jpg')">

    <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="title">Mis Conocimientos</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="info">
                    <div class="icon">
                        <img src="img/html5.png" width="30%" height="10%" alt="">
                    </div>
                    <h4 class="info-title">HTML5</h4>
                    <!--parrafos-->
                </div>
            </div>

            <div class="col-sm-4">
                <div class="info">
                    <div class="icon">
                        <img src="img/js.png" width="30%" height="10%" alt="">
                    </div>
                    <h4 class="info-title">JavaScript</h4>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="info">
                    <div class="icon">
                        <img src="img/node.png" width="60%" height="10%" alt="">
                    </div>
                    <h4 class="info-title">Node JS</h4>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-sm-4">
                <div class="info">
                    <div class="icon">
                        <img src="img/boots.png" width="64%" height="10%" alt="">
                    </div>
                    <h4 class="info-title">Bootstrap v.4</h4>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="info">
                    <div class="icon">
                        <img src="img/angular.png" width="40%" height="10%" alt="">
                    </div>
                    <h4 class="info-title">Angular</h4>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="info">
                    <div class="icon">
                        <img src="img/css3.png" width="30%" height="10%" alt="">
                    </div>
                    <h4 class="info-title">CSS3</h4>
                </div>
            </div>
        </div>

    </div>
</div>