<footer class="footer">
    <div class="container">
        <a class="footer-brand" href="#inicio">Roman Calderin<div class="ripple-container"></div></a>


        <ul class="pull-center">
            <li>
                <a href="https://developermore.blogspot.com">
                   Blog
                </a>
            </li>
            <li>
                <a href="/contact">
                    Contacto
                </a>
            </li>
        </ul>

        <ul class="social-buttons pull-right">
            <li>
                <a href="https://www.linkedin.com/in/roman-calderin/" target="_blank" class="btn btn-just-icon btn-simple">
                    <i class="fa fa-linkedin-square"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/calderin_roman" target="_blank" class="btn btn-just-icon btn-simple">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
        </ul>

    </div>
</footer>