<div id="proyectos" class="section">
    <div class="container">
        <div class="row">


            <div id="proyect" class="col-md-12">
                <h2  class="title text-center">Mis Proyectos</h2>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <div  class="card card-blog">
                            <div class="card-image">
                                <a href="#pablo">
                                    <img class="img img-raised" src="img/barber.png">
                                </a>
                            <div class="colored-shadow" style="background-image: url(&quot;img/barber.png&quot;); opacity: 1;"></div></div>

                            <div class="card-content">
                                <h6 class="category text-info"><i class="material-icons">perm_device_information</i> App</h6>
                                <h4 class="card-title">
                                    <a href="#pablo">BarberShop</a>
                                </h4>
                                <p class="card-description">
                                    BarberShop es una app web destinada a la reserva de citas en una barberia, esta reservas le llegaran al barbero o due침o del local a su Whatsapp, 
                                    en esta app el usuario llena el formulario con su 
                                    nombre, apellido, hora y fecha de reserva. <br> <a class=" btn btn-primary btn-block" href="https://github.com/roman-vue/Formulario-Whatsapp">GitHub</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-blog">
                            <div class="card-image">
                                <a href="#pablo">
                                    <img class="img img-raised" src="img/bienvenido.gif">
                                </a>
                            <div class="colored-shadow" style="background-image: url(&quot;img/bienvenido.gif&quot;); opacity: 1;"></div></div>
                            <div class="card-content">
                                <h6 class="category text-success">
                                    <i class="material-icons">web</i> Landing Page
                                </h6>
                                <h4 class="card-title">
                                    <a href="">Mi Portafolio</a>
                                </h4>
                                <p class="card-description">
                                    Mi portafolio esta p치gina web en formato landing page 
                                    destina a dar a conocer mis conocimientos.
                                    <br> <a class=" btn btn-primary btn-block" href="#inicio">Inicio</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-blog">
                            <div class="card-image">
                                <a href="#pablo">
                                    <img class="img img-raised" src="img/banner-sena.png">
                                </a>
                            <div class="colored-shadow" style="background-image: url(&quot;img/banner-sena.png&quot;); opacity: 1;"></div></div>

                            <div class="card-content">
                                <h6 class="category text-danger">
                                    <i class="material-icons">trending_up</i> E-commerce
                                </h6>
                                <h4 class="card-title">
                                    <a href="#pablo">SenaShop</a>
                                </h4>
                                <p class="card-description">
                                    SenaShop es una tienda virtual dedicada a la venta de los productos y 
                                    servicios que realizan los aprendices del <strong>Sena-Centro Industrial Y Aviaci칩n</strong>, esta
                                     tienda virtual cuenta con pasarela de pagos Payu y Paypal , 
                                     lista de deseos , carrito de compras y calificaci칩n de productos. 
                                    <a class=" btn btn-primary btn-block" href="https://github.com/Je1234/SenaShop">GitHub</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-blog">
                            <div class="card-image">
                                <a href="#pablo">
                                    <img class="img img-raised" src="img/calcu.png">
                                </a>
                            <div class="colored-shadow" style="background-image: url(&quot;img/calcu.png&quot;); opacity: 1;"></div></div>

                            <div class="card-content">
                                <h6 class="category text-warning">
                                    <i class="material-icons">calculate</i> Calculadora
                                </h6>
                                <h4 class="card-title">
                                    <a href="#pablo">Calculadora</a>
                                </h4>
                                <p class="card-description">
                                    Mi primera app con C# y .NetCore <br> 
                                    <a class=" btn btn-primary btn-block" href="https://github.com/roman-vue/Calculadora.git">GitHub</a>
                                </p>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div>
</div>