<nav id="cd-vertical-nav">
	<ul>
		<li>
			<a href="#inicio" data-number="1" class="">
				<span class="cd-dot"></span>
				<span class="cd-label">inicio</span>
			</a>
		</li>
		<li>
			<a href="#about" data-number="2" class="">
				<span class="cd-dot"></span>
				<span class="cd-label">Sobre Mi</span>
			</a>
		</li>
		<li>
			<a href="#conocimientos" data-number="3" class="">
				<span class="cd-dot"></span>
				<span class="cd-label">Conocimientos</span>
			</a>
		</li>
		<li>
			<a href="#proyectos" data-number="4" class="">
				<span class="cd-dot"></span>
				<span class="cd-label">Proyectos</span>
			</a>
		</li>
	
	</ul>
</nav>